{% extends 'layout.html.jinja' %}
{% block body %}
<div align='center' class='row desc'>
    Show your support for the mental health advocacy week with a new profile picture! Upload your own here or connect with Facebook to add the overlay to your current profile picture.
</div>
<div>
    <span>Note: image must be of PNG, JPG/JPEG or GIF format with dimension 1000x1000 or greater. The overlaid photo will automatically download to your computer when overlaying is done!</span>
    <form action='/' method='post' enctype="multipart/form-data">
        <fieldset>
            <div align='center' class="row">
                <div class="large-9 columns">
                    <input class='button' type='file' name='file'>
                </div>
                <div class="large-3 columns">
                    <input class='button' type='submit' value='Upload'>
                </div>
            </div>
        </fieldset>
    </form>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class='row errors'>
                {% for category, message in messages %}
                    <p>{{ category }}: {{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
</div>
{% endblock %}
