<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='foundation.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <title>AMHI Mental Health Advocacy Week - Overlay Generator</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div align='center' class='header'>
        <h1>Mental Health Advocacy Week</h1>
        <h3>Overlay Generator</h3>
        <span>Presented by AMHI, UC, etc</span>
    </div>
    <div id='content' align='center'>
        {% block body %}{% endblock %}
    </div>
</body>
